#root {
    position:absolute;
    width:100%;
    height:100%;
}

#navbar {
    position:absolute;
    height: 50px;
    top:0%;
    left:0%;
    width: 100%;
    height: 5%;
    margin:auto;
    padding-left: 10px;
}

#title-div {
    position: absolute;
    top:7px;
}

#left-sidebar {
    position:absolute;
    height:94%;
    width:12.5%;
    top:5.5%;
    left:0%;
    padding-left: 8px;
    overflow-y:auto;
    overflow-x:hidden;
}

#workspace {
    position:absolute;
    height:94%;
    width:86%;
    top:5.5%;
    left:13.3%;
    display: flex;
    flex-direction: column;
}

#left-sidebar-header {
    padding-top:25px;
    height:4%;
    top:3%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    white-space: nowrap;
}

#todo-lists-list {
    position:absolute;
    text-align: center;
    max-height:90%;
    width:98%;
    top: 8%;
    overflow-y:auto;
}

.todo-list-button {
    padding-top:20px;
    height: 40px;
    width: 90%;
}

.todo-button {
    white-space: nowrap;
}

#left-sidebar-controls {
    text-align: right;
}

#todo-list-header-card {
    padding-top:25px;
    height:4%;
    width: 100%;
}

#todo-list-items-div {
    top:7%;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    max-height:100%;
    
}

.list-item-card {
    padding-top:20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    width:100%;
}

.item-col {
    width:25%;
}


.list-item-control {
    width: 20%;
}

#listDelete, #listCancel{
    float:left;
    width:50%;
}

.modal-container{
    text-align:center;
    z-index:1;
    position:absolute;
    left:35%;
    top:25%;
    width:30%;
    color:white;
    background-color:var(--swatch-primary);
    border:solid;
    border-color:white;
}

.modal{
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    border:none;
}

button {
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-family:'Consolas';
    color:white;
    font-weight:bold;
  }
  
button:hover {
    opacity:1;
}

#todo-list-header-card .list-item-col{
    width:33%;
}


#task-col-header{
    margin-left:5px;
}

.task-col{
    margin-left:5px;
}

/*
.due-date-col{
    position:absolute;
    left:25%;
}

.status-complete{
    position:absolute;
    left:50%;
}

.status-incomplete{
    position:absolute;
    left: 50%;
}

.list-controls-col{
    position:absolute;
    right:0;
    height:100%;
}
*/

#add-item-button{
    height:100%;
    width:33%;
}

#delete-list-button{
    height:100%;
    width:33%;
}

#close-list-button{
    height:100%;
    width:34%;
}

.list-item-card .list-item-control{
    width:33%!important;
}

.list-item-card input{
    width:25%;
}

